body {
    background-image: linear-gradient(to bottom, #77d6ff, #c3f2ff);
    display : flex;
    
}

nav {
  background-color: #77d6ff;
  display: flex;
}
nav div img{
  width: 800px;
  height: 108px;
  margin: 0px;
}

footer {
  background-color: #a25d25;
  
}
